WSAPI/Web References/WKF/Wkf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SimulationFlowByScript">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimulationFlowByScriptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SimulationFlowByScriptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SimulationFlowByScriptSoapIn">
    <wsdl:part name="parameters" element="tns:SimulationFlowByScript" />
  </wsdl:message>
  <wsdl:message name="SimulationFlowByScriptSoapOut">
    <wsdl:part name="parameters" element="tns:SimulationFlowByScriptResponse" />
  </wsdl:message>
  <wsdl:message name="SimulationFlowByScriptHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SimulationFlowByScriptHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SimulationFlowByScriptHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SimulationFlowByScriptHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WkfSoap">
    <wsdl:operation name="SimulationFlowByScript">
      <wsdl:input message="tns:SimulationFlowByScriptSoapIn" />
      <wsdl:output message="tns:SimulationFlowByScriptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WkfHttpGet">
    <wsdl:operation name="SimulationFlowByScript">
      <wsdl:input message="tns:SimulationFlowByScriptHttpGetIn" />
      <wsdl:output message="tns:SimulationFlowByScriptHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WkfHttpPost">
    <wsdl:operation name="SimulationFlowByScript">
      <wsdl:input message="tns:SimulationFlowByScriptHttpPostIn" />
      <wsdl:output message="tns:SimulationFlowByScriptHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WkfSoap" type="tns:WkfSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimulationFlowByScript">
      <soap:operation soapAction="http://tempuri.org/SimulationFlowByScript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WkfSoap12" type="tns:WkfSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimulationFlowByScript">
      <soap12:operation soapAction="http://tempuri.org/SimulationFlowByScript" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WkfHttpGet" type="tns:WkfHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SimulationFlowByScript">
      <http:operation location="/SimulationFlowByScript" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WkfHttpPost" type="tns:WkfHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SimulationFlowByScript">
      <http:operation location="/SimulationFlowByScript" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Wkf">
    <wsdl:port name="WkfSoap" binding="tns:WkfSoap">
      <soap:address location="http://localhost/UOF11.60/PublicAPI/WKF/Wkf.asmx" />
    </wsdl:port>
    <wsdl:port name="WkfSoap12" binding="tns:WkfSoap12">
      <soap12:address location="http://localhost/UOF11.60/PublicAPI/WKF/Wkf.asmx" />
    </wsdl:port>
    <wsdl:port name="WkfHttpGet" binding="tns:WkfHttpGet">
      <http:address location="http://localhost/UOF11.60/PublicAPI/WKF/Wkf.asmx" />
    </wsdl:port>
    <wsdl:port name="WkfHttpPost" binding="tns:WkfHttpPost">
      <http:address location="http://localhost/UOF11.60/PublicAPI/WKF/Wkf.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>